<!DOCTYPE html>
<html>
<head>
<style>
div {
  border: 1px solid gray;
  padding: 8px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #4CAF50;
}

p {
  text-indent: 50px;
  text-align: justify;
  letter-spacing: 3px;
}

a {
  text-decoration: none;
  color: #008CBA;
}
</style>
</head>
<body>

<div>
  <h1>Thank you for booking with MakersBnB</h1>
  <p> Someone will be in touch within one working day. Have a look at any other properties which you may be intrested in.
  <a target="_blank" href="http://localhost:9292/listings">"More fun is awaiting you"</a> link.</p>
</div>

</body>
</html>

