<!DOCTYPE html>
<html>
	<head>

		<!-- The name between <title> tag defines the title of the document. -->

		<title>MakersBnB</title>
	</head>
	<body>

		<!-- This is to display the Navbar of the website. -->
		<!-- Styling is added inline so that navbar appears on the image -->

		<nav>
			<ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: rgba(0,0,0,0.3);">
				<li style="float: right;"><a href="#contact" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Help</a></li>
				<li style="float: right;"><a href="#about" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">SignUp</a></li>
				<li style="float: right;"><a href="#login" style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;">Login</a></li>
			</ul>
		</nav>
		<div style="display: flex; padding-bottom: 100px">

			<!-- This is to display the Background-image which uses Flex property. -->

			<img src="https://a0.muscache.com/4ea/air/r:w775-h300-sfit,e:fjpg-c80/pictures/318dae49-6efb-484c-b4d2-b3d84c2bcd4e.jpg" width="100%" height="500" style="position: absolute;">

			<!-- This is to make the Form Contents with position relative so that in appears on the Image -->

			<form action="/" style="position: relative; margin: 130px; max-width: 200px; padding: 16px; background-color: white;">
				<h2>Book unique home and experiences</h2>
				

				
			</form>

			<!-- Form Ends here. -->

		</div>

		<!-- The below section displays the Reviews and Feedbacks given by the users. -->

		<div style="padding: 2px 100px;">
			<h3>What guests are saying about homes in the United Kingdon</h3>
			<p>UK homes were rated
				<strong>4.6 out of 5 stars</strong>
				with <strong> 210,000+ reviews </strong>
			</p><br />
		</div>

		<!-- Reviews and Feedbacks which uses Flex property, includes images  -->

		<div style="display: flex; justify-content:center; align-items: center;">
			<div style=" margin: 10px; padding: 5px 50px;">
				<img src="https://a0.muscache.com/im/pictures/8650182/506aa978_original.jpg?aki_policy=large" height="200"><br />
			</div>
			<div style=" margin: 10px; padding: 5px 50px;">
				<img src="https://a0.muscache.com/im/pictures/7517954/21419416_original.jpg?aki_policy=large" height="200"><br />
			</div>
			<div style=" margin: 10px; padding: 5px 50px;">
				<img src="https://a0.muscache.com/im/pictures/d90a9b58-80da-4148-8a1c-2a1f1218d575.jpg?aki_policy=large" height="200"><br />
			</div>
		</div>

		<!-- Reviews and Feedbacks which uses Flex property, includes text  -->

		
	</body>
</html>


<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.button1 {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2:hover {
  box-shadow: 0 10px 14px 0 rgba(0,0,0,0.24),0 12px 30px 0 rgba(0,0,0,0.19);
}
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 190px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
</style>
</head>
<body>

<h2>Currently avaliable properties</h2>
<h3> Select the property to book and have an excellent stay : </h3>

<ul> 
  <% @listings.each do |listing| %> 
<div class="row">
  <div class="column" style="background-color:#F0F8FF;">
    <h4>Property Name</h4>
    <%= listing.name %>
  </div>
  <div class="column" style="background-color:#FDF5E6;">
    <h4>Property Description</h4>
    <%= listing.description %>
  </div>
  <div class="column" style="background-color:#F0FFF0;">
    <h4>Price per night (in GBP)</h4>
    £<%= listing.price_per_night %> per night<br>
		<form action="/booking" method="get">
			<br><br><button class="button button2">Book this place</button>
		</form>
  </div>
</div>
<% end %>
</ul>

</body>
</html>


